* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/* Beginning Header */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(/assets/images/home.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    color: white;
}

.text-box h1 {
    font-size: 62px;
}

.text-box a {
    color: white;
    text-decoration: none;
    background-color: none;
}

.hero-btn {
    display: inline-block;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
}

/* End Header */

/* Beginning Package */

.card-body {
    /* background: #fff3f3; */
}

.card-body h1 {
    font-size: 36px;
    font-weight: 600;
}

.card-body p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

/* End Package */

/* Beginning facilities */

.card-body img {
    display: block;
    max-width: 100%;
    height: auto;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.facilities-body {
    background: none;
    border-color: none;
}

/* End Facilities */

/* Beginning Team */

.team img {
    max-width: 60%;
    border-radius: 50%;
    justify-content: center;
    display: block;
}

/* End Team */

.testimoni img {
    width: 20%;
}

/* Beginning CTA */

.cta {
    margin: 100px auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/assets/images/cs.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: white;
}

.cta a {
    color: white;
    text-decoration: none;
    background-color: none;
}

/* End CTA */

/* Beginning Footer */

.icons .fab {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* End Footer */

/* Beginning Suh Header */

.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(/assets/images/sub.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
}
/* End Sub Header */

/* Beginning About */

.about-us img {
    width: 100%;
}

.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover {
    color: #fff;
}

/* End About */

/* Beginning Contact */

.contact h5 {
    font-size: 15px;
    font-weight: 300;
}

.contact div .fas {
    font-size: 28px;
    color: #f44336;
}

/* End Contact */

/* Beginning Barber */


.jarak img{
   box-sizing: border-box;
   max-height: 100px;
   max-width: 100px;
}

.card {
    background-color: red;
}

/* End Barber */

/* Barber profile */

.barber-profile img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .cards-wrapper{
    display: flex;
  }

#carouselExampleControls .rating {
    margin: 0 .5rem;
    width: 100%;
}



/* End Barber */


